<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854124041681-ighepvvprgcqr9bje0dbpenjmtct6cjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854124041681-ighepvvprgcqr9bje0dbpenjmtct6cjc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>854124041681-sa352h9es2lfurrqcs4v0h1l0okn4mih.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDocRuTCu0S-xG0bOGrlQPE3JTuneW3b7o</string>
	<key>GCM_SENDER_ID</key>
	<string>854124041681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mywebians.pizzadeliveryecom</string>
	<key>PROJECT_ID</key>
	<string>pizzadeliveryapp-19723</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzadeliveryapp-19723.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854124041681:ios:814bc326ee596c0d807cf0</string>
</dict>
</plist>